{% extends 'base.html.twig' %}

{% block title %}{{ 'product.edit_product' |trans}}{% endblock %}

{% block body %}
    <h1>{{ 'product.edit_product' |trans}}</h1>

    {{ include('product/_form.html.twig') }}

    <a href="{{ path('app_accueil') }}">back to list</a>

    {{ include('product/_delete_form.html.twig') }}
{% endblock %}
