{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <h1>{{ 'user.account'|trans }}</h1>

    <h2>{{ 'user.edit_info'|trans }}</h2>

    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('user_index') }}">{{ 'button.back_to_list'|trans }}</a>

    {{ include('user/_delete_form.html.twig') }}
{% endblock %}