{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <h1>{{ 'user.index_title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'user.id'|trans }}</th>
                <th>{{ 'user.email'|trans }}</th>
                <th>{{ 'user.roles'|trans}}</th>
                <th>{{ 'user.password'|trans}}</th>
                <th>{{ 'user.action'|trans}}</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                <td>{{ user.password }}</td>
                <td>
                    <a href="{{ path('user_show', {'id': user.id}) }}">{{ 'button.show'|trans }}</a>
                    <a href="{{ path('user_edit', {'id': user.id}) }}">{{ 'button.edit'|trans }}</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('user_new') }}">{{ 'button.new'|trans }}</a>
{% endblock %}
